@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

.hero::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    0deg,
    #181818 0,
    hsla(0, 0%, 9%, 0.987) 1.62%,
    hsla(0, 0%, 9%, 0.951) 3.1%,
    hsla(0, 0%, 9%, 0.896) 4.5%,
    hsla(0, 0%, 9%, 0.825) 5.8%,
    hsla(0, 0%, 9%, 0.741) 7.06%,
    hsla(0, 0%, 9%, 0.648) 8.24%,
    hsla(0, 0%, 9%, 0.55) 9.42%,
    hsla(0, 0%, 9%, 0.45) 10.58%,
    hsla(0, 0%, 9%, 0.352) 11.76%,
    hsla(0, 0%, 9%, 0.259) 12.94%,
    hsla(0, 0%, 9%, 0.175) 14.2%,
    hsla(0, 0%, 9%, 0.104) 15.5%,
    hsla(0, 0%, 9%, 0.049) 16.9%,
    hsla(0, 0%, 9%, 0.013) 18.38%,
    hsla(0, 0%, 9%, 0) 20%
  );
}

.hero-info::after {
  content: '';
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  bottom: 0;
  left: 0;
  position: absolute;
  right: -200px;
  top: 0;
  z-index: -1;
}
